*{
    box-sizing: border-box;
    font-family: '微软雅黑'
}
h2{
    text-align: center;
}
.talk-section{
    height: 400px;
    border:1px solid #444;
    border-radius: 10px;
    overflow: scroll;
    padding: 20px;
    font-size:14px;
}
.talk-btn{
    display: flex;
    margin-top:10px;
    justify-content: space-between;
}
.talk-btn>input{
    flex-basis: 69%;
    padding: 5px 10px;
    border:1px solid;
}
.talk-btn>button{
    flex-basis: 30%;
    background-color: #396;
    padding: 5px 40px;
    cursor: pointer;
    color:#FFF;
}
.btn{
    background: none;
    font-size:14px;
    padding: 10px 10px;
    border-radius: 2px;
    outline: none;
}
.message{
    color:#FFF;
    background: #396;
    padding: 5px 20px;
    border-radius: 20px;
    margin: 10px 0;
    text-align: center;
    min-width: 100px;
}